<!doctype html>
<head>
	<title>192 Final</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
	<script language="JavaScript">
		function displayChart() {
			var ctx = document.getElementById("chart");
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: ["Hamming", "Euclidean", "Manhattan", "Word2Vector"],
			        datasets: [{
			            data: {{ res|tojson }},
			            backgroundColor: ["rgba(255,221,87,0.4)","rgba(32,156,238,0.4)","rgba(255,56,96,0.4)","rgba(35,209,96,0.4)"],
			            borderColor: ["rgba(255,221,87)","rgba(32,156,238)","rgba(255,56,96)","rgba(35,209,96)"],
						borderWidth: "1"  
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			            	scaleLabel: {
			            		display: true,
			            		labelString: "Similarity"
			            	},
			                ticks: {
			                    beginAtZero:true
			                }
			            }],
			            xAxes: [{
			            	scaleLabel: {
			            		display:true,
			            		labelString: "Heuristic"
			            	}
			            }]
			        },
			        legend: {
			        	display: false
			        }
			    }
			});
		}
	</script>
</head>

<body onload="displayChart();">
	<section class="hero is-primary">
  		<div class="hero-body">
    		<div class="container">
    			<div class="levels">
      			<h1 class="title">Phrase Difference Visualizer 🔬</h1>
      			<!-- <h2 class="subtitle">Cis 192 S18 Final Project, by Valencia and Arun</h2> -->
    		</div>
  		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column" style="margin-right:3rem">
			  		<h3 class="title is-size-4">Enter sentences here</h3>
			  		<form method="get" action="/">
						<div class="field">
							<label class="label"> <strong> Sentence 1 </strong></label>
			  				<div class="control">
			    				<input class="textarea" name="sentence1" placeholder="Hi there" rows="1"></input>
			  				</div>
			  			</div>
			  			<div class="field">
			  				<label class="label"> <strong> Sentence 2 </strong></label>
			  				<div class="control">
			    				<input class="textarea" name="sentence2" placeholder="Analyze us" rows="1"></input>
			  				</div>
			  			</div>
			  			<div class="field">
							<p class="control">
						    	<input class="button is-success" type="submit" value="Go!" />
						  	</p>
						</div>
					</form>
					<br><br>
					<h1 class="title is-size-4">About</h1>
			  		<p>This final project was created by Valencia and Arun for CIS 192 Spring 2018. </p>
				</div>
				<div class="column">
					<h1 class="title is-size-4">Visualization</h1>
					  		<p><i>Sentence 1:</i>
					  		{{ sentence1 }}
					  		<br>
					  		<i>Sentence 2:</i>
					  		{{ sentence2 }}
					  		</p>
				  		<br>
				  		<canvas id="chart" width="400" height="250"></canvas>
				</div>
			</div>
		</div>
	</section>
</body>